.card {
  background-color: var(--Dark-blue);
  border: 3px solid black;
  border-radius: 10px;
  position: relative;
  z-index: 500;
  display: flex;
}

.trash_icon {
  position: fixed;
  left: 1rem;

  font-size: 2rem;
  align-self: center;
}
.remove_trash_icon {
  display: none;
}

@keyframes deleteAnim {
  to {
    left: 100vw;
  }
}

.animateCardAway {
  animation: deleteAnim 0.3s forwards;
}

.removeCardAfterAnim {
  display: none;
}
