@keyframes deleteAnimLeftSwipe {
  to {
    left: -100vw;
  }
}

@keyframes deleteAnimRightSwipe {
  to {
    left: 100vw;
  }
}

.wrapper {
  background-color: rgba(107, 99, 134, 0.54);
  border: 3px solid black;
  height: 5rem;
  margin: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 10px;
  position: relative;
  z-index: 500;
}
