.todoButton {
  height: 3.6rem;
  width: 3.6rem;
  background-color: var(--pink);
  border-radius: 100%;
  position: absolute;
  bottom: 2.5rem;
  right: 2.3rem;
  font-size: 2.4rem;
  color: white;
}
