.card {
  background-color: var(--dark-blue);
  border-radius: 15px;
  position: relative;
  z-index: 500;
  color: var(--text-color);

  display: grid;
  grid-template-columns: 2fr 10fr;
  align-items: center;
  /* margin: 0 1.5rem; */
  height: 100%;
  color: var(--text-color);

  &__clickableTitleToOpenModal {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }
}

.categoryModal__card {
  border: 2px solid var(--light-blue);
  /* background: linear-gradient(to right, var(--dark-blue), var(--dark-blue), var(--light-blue)); */
}
