.outerWrapper {
  overflow: hidden;
  overflow-y: hidden;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
