.cardWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  /* width: 100vw; */
  overflow: hidden;

  display: grid;
  grid-template-rows: 0.5fr repeat(5, 1fr);
  grid-row: 4/5;
  padding: 3rem 1.5rem;
  position: relative;
  gap: 0.3rem;
  color: var(--text-color);
}

.mainWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 4fr;

  background-color: var(--light-blue);

  position: relative;
  overflow: hidden;
}

.heading2 {
  color: var(--text-color2);
  font-size: 0.9rem;
  align-self: center;
}
