@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100svh;
  overflow: hidden;
  /*display flex i for mainwrapper to center when it is transitioned to the right when showing the nav*/
  display: flex;
}
