:root {
  --dark-blue: #041955;
  --light-blue: #3451a0;
  --light-blue: #3451a0;
  --pink: #ea06fe;
  --blue: #1754bd;
  --text-color: #fefffe;
  --text-color2: #96b5ff;
  /* Add more variables as needed */
}
