.nav {
  height: 100%;
  background: var(--dark-blue);
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-rows: 3fr 2fr 2fr 3fr 2fr;
  padding-left: 2.5rem;


  &__profilePicWrapper {
    grid-row: 1/2;
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border-top: 3.5px solid var(--pink);
    border-right: 3.5px solid var(--pink);

    position: relative;
    top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__profilePic {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    opacity: 0.8;
  }


  &__profileName {
    grid-row: 2/3;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
    /* top: 2rem; */
  }


  &__profileName__top {
    margin-bottom: 0.4rem;
  }


  &__listOfNavLinks {
    grid-row: 3/4;
    height: 7rem;
    width: 14rem;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  &__li {
    display: flex;
    align-items: center;
  }


  &__navLink {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    color: var(--text-color);
  }


  &__icons {
    color: lightgrey;
    margin-right: 1.4rem;
    font-size: 1.3rem;
  }


  &__consistancyWrapper {
    grid-row: 4/5;
    border: 2px solid pink;
    height: 80%;
    width: 13rem;
    position: relative;
    align-self: center;
  }

  &__logoutBtn {
    width: 5rem;
    height: 2rem;
    position: relative;
    top: 1rem;
    background: var(--text-color);
    border-radius: 0.5rem;
  }
}
