$inputsHeight: 2.3rem;
$borderRadius: 1rem;
$boxShadow: 1px 5px 11px -3px black;





.settingsCategoryModal {
  position: absolute;
  height: 11rem;
  width: 90%;
  justify-self: center;
  top: 5rem;
  background: var(--light-blue);
  border: 2px solid var(--dark-blue);
  z-index: 2000;
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-radius: $borderRadius;
  padding: .4rem;

  &__exitBtn {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 2rem;
    color: white;
  }


  &__heading {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: .5rem;
    font-size: 1.5rem;
    justify-self: center;
  }

  &__forGroundOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000d9;
    border: 2px solid var(--dark-blue);
    border-radius: $borderRadius;
    z-index: 1999;
  }
}


.form {
  display: grid;
  grid-template-rows: 1fr 1fr;

  &__inputsWrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: .5rem;
    gap: 1rem;
  }

  &__inputs {
    height: $inputsHeight;
    align-self: center;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: none;
    color: black;
  }

  &__nameInput {
    font-size: 1.1rem;
    text-align: center;
  }

  &__colorInput {
    height: $inputsHeight;
    width: $inputsHeight;
    border-radius: 100rem;
    justify-self: flex-end;
  }

}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: .5rem;
  gap: 1rem;

  &__buttons {
    align-self: center;
    height: $inputsHeight;
    border-radius: $borderRadius;
    border: none;
    box-shadow: $boxShadow;
    color: var(--text-color);
  }

  &__deleteBtn {
    background: red;

  }

  &__submitBtn {
    background: var(--pink);
  }
}
