.newTaskBtn {
  height: 3.3rem;
  width: 3.3rem;
  background-color: var(--pink);
  border-radius: 100%;
  position: absolute;
  bottom: 1.9rem;
  right: 1.1rem;
  font-size: 2.4rem;
  color: white;
  border: none;
  z-index: 988;
}

/*The plus(&#43;) sign wouldnt center properly in firefox*/
@-moz-document url-prefix() {
  .newTodoBtn {
    padding-bottom: 4px;
  }
}
