.categoryModal {
  position: absolute;

  position: absolute;
  background: var(--dark-blue);
  height: 90svh;
  width: 90vw;
  z-index: 999;
  align-self: center;

  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 6fr;

  &__heading {
    color: var(--text-color)
  }

  &__progressBar {}

  &__swiper {
    border: 2px solid pink;
    height: 100%;
    width: 100%;
  }

}
