.main {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 5fr;
  background-color: var(--light-blue);
  position: relative;
  overflow: hidden;
  z-index: 200;
  overflow: hidden;

  height: 100svh;
  align-self: center;
  justify-self: center;
  right: 0;
  transition:
    height 0.3s ease-out,
    right 0.3s ease-out;

  &NavOpen {
    animation: animateNav 0.3s ease-out forwards;
    right: -16.5rem;
    height: 90svh;
    /* position: absolute; */
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    position: relative;
    overflow: visible;
  }


  &__heading1 {
    grid-row: 2/3;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-size: 2rem;
  }

  &__modalBackground {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    justify-self: center;
    align-self: center;
  }
}







/*categories*/
.categoriesWrapper {
  grid-row: 3/4;
  /* width: 100%; */
  display: grid;
  /* grid-template-rows: 2fr 4fr; */
  padding: 0 1.5rem;

  &__ScrollWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__Heading {
    color: var(--text-color2);
    font-size: 1.1rem;
    /* margin-top: 2rem; */
    text-transform: capitalize;

    display: flex;
    align-items: end;
  }
}


.cardWrapper {
  /* position: relative; */
  overflow: hidden;
  /* margin-top: 2rem; */

  /* display: grid; */
  /* grid-template-rows: 0.5fr repeat(5, 1fr); */
  /* grid-row: 4/5; */
  /* margin-bottom: 2.6rem; */
  margin: 0 1.5rem;
  /* position: relative; */
  /* gap: 0.3rem; */
  /* color: var(--text-color); */
  display: flex;
  flex-direction: column;
  position: relative;




  &__heading {
    color: var(--text-color2);
    font-size: 1.1rem;
    align-self: start;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
  }


  &__swiper {
    width: 100%;
    margin-bottom: 2.5rem;
    position: relative;

    /* delete here  */
    /* min-height: 100%; */
  }

  &__swiperSlide {
    position: relative;

  }


}
