.main {
  background-color: var(--light-blue);
  height: 100lvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 75lvh;
  max-height: 30rem;
  width: 90lvw;
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: 0px 2px 5px 1px black;
  margin-top: -6rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: space-around;
  position: relative;
}

.heading {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.inputWrapper {
  position: relative;
  /* border: 1px solid yellow; */
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputLabel {
  position: absolute;
  color: black;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  z-index: 100;
  left: 0.5rem;
  top: 0.4rem;
  text-transform: capitalize;
}

.inputlabel_active {
  transition: all 0.4s ease;
  transform: translateY(-160%);
  font-size: 1rem;
  color: var(--text-color2);
  left: 0;
}

.input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-bottom: solid 1px var(--text-color2);
  font-size: 1.2rem;
  position: relative;
  border-radius: 5px;
  padding-left: 0.5rem;
  color: black;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #4a90e2;
}

.inputError {
  position: absolute;
  color: red;
  font-size: 1rem;
  /* top: 0.2rem; */
  bottom: 45%;
  right: 0.5rem;
  text-shadow: 0px 1px 1px black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@keyframes errorArrow {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

.errorArrow {
  animation: errorArrow 2s infinite;
}

.rememberMeWrapper {
  /* border: 1px solid red; */
  position: relative;
  top: -1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-transform: capitalize;
}

.rememberMeLabel {
  color: var(--text-color);
  position: relative;
}

.submit {
  height: 2.8rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 1px black;
  position: relative;
  top: -1.7rem;
}

.submit:active {
  box-shadow: none;
  border: 3px solid black;
}

.registerBtn {
  background: none;
  border: none;
  color: var(--text-color);
  position: relative;
  top: -0.9rem;
  font-size: 1rem;
}

.registerBtn_secondText {
  text-decoration: underline var(--pink);
}
